.add{
    position: fixed;    
    right: 50px;
    bottom: 100px;

    height: 40px;
    width: 40px;

    border-radius: 50%;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;    
    line-height: 75%;   

    font-size: 40px;

    &:hover{
        background-color: gray;
        cursor: pointer;
    }

}

.about-button{
    position: fixed;    
    right: 50px;
    bottom: 50px;

    height: 40px;
    width: 40px;

    border-radius: 50%;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;    
    line-height: 75%;      

    font-size: 40px;

    &:hover{
        background-color: gray;
        cursor: pointer;
    }
}




